<table id="products">
  <% @products.each do |p| -%>
    <tr>
      <td><%= p.name %></td>
      <td>$<%= p.price %></td>
      <td><%= link_to "Buy #{p.name}", new_transaction_path(:product_id => p.id) %></td>
    </tr>
  <% end -%>
</table>

<% if @transactions %>
  <h1>Transactions</h1>
  <table id="transactions">
    <%= @transactions.each do |t| -%>
      <tr>
        <td><%= t.id %></td>
        <td><%= t.amount %></td>
        <td><%= t.status.capitalize %></td>
      </tr>
    <% end -%>
  </table>
<% end %>

<dl>
    <dt><%= link_to "Setup Your Payment Info", new_customer_path  %></dt>
</dl>
